{% extends 'base.html.twig' %}

{% block title %}All categorie{% endblock %}

{% block body %}
    <h1>Toutes les catégories de la table catégories : </h1>
    {% for categorie in categories %}
        <div>
            <h2>{{ loop.index }} / {{ categorie.name }} </h2>
            <a href="{{ path("category_name", { id: categorie.id }) }}">Voir la catégorie</a>
        </div>
        
    {% else %}
        Aucune série trouvée.
    {% endfor %}
        <a href="{{ path("new") }}">Ajouter une catégorie</a></br>

   <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}