{% extends 'base.html.twig' %}

{% block title %}Catégorie #{{ category.id }}{% endblock %}

{% block body %}

<div class="media">
  <div class="media-body">
    <h1 class="mt-0">{{ category.name }}</h1>
    <ul>
         {% for program in categoryshow %}
    
        <li>
        {{ program.id}} - {{ program.title}}<br/>
        {{ program.summary}}
        
        <a href="{{ path("program_show", { id: program.id }) }}">Voir la fiche</a>
        </li>
        {% endfor %}

    </ul>
  </div>
</div>

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>

{% endblock %}