{% extends 'base.html.twig' %}



{% block body %}

<header>
  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
  <div class="block_header">
    <h1 class="mb-3">Le meilleur du cinéma</h1>
    <h4 class="mb-3">Bienvenue</h4>
    <a class="btn btn-primary" href="{{path('season_index')}}" role="button">Découvrir les Saisons</a>
    <a class="btn btn-primary" href="{{path('category_index')}}" role="button">Découvrir les Catégories</a>

  </div>
  </div>
</header>

<div class="container">
  <div class="row-1">
    <div class="col-1">
      <a class="btn btn-primary btn-1" href="{{path('episode_index')}}" role="button">Nos meilleurs épisodes</a>
      </div>
    <div class="col-2">
    <a class="btn btn-primary btn-1" href="{{path('category_index')}}" role="button">Nos meilleurs catégories</a>
    
    </div>
  </div>
    
  <div class="row-2">
    
    <div class="col-3">
    <a class="btn btn-primary btn-1" href="{{path('season_index')}}" role="button">Toutes les saisons</a>
    </div>
  </div>
  
</div>
{% endblock %}



